@{
    ViewBag.Title = "Product";
}

<h2>Products</h2>

<div class="row row-offcanvas row-offcanvas-left">

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
        </p>
        <div class="well sidebar-nav">
            <ul class="nav">
                <li>Industrial Washers</li>
                <li class="active"><a href="#industrialwashers">Flat Washers</a></li>
                <li><a href="#industrialwashers">Plain Washers</a></li>
                <li><a href="#industrialwashers">Mild Steel Washers</a></li>
                <li>Mild Steel Products</li>
                <li><a href="#mildsteelplates">Mild Steel Plates</a></li>
                <li><a href="#mscircles">M.S. Cricles</a></li>
                <li><a href="#msplates">M.S. Plates</a></li>
                <li><a href="#mssheetcomponents">M.S. Sheets Components</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->

    <div class="col-xs-12 col-sm-9">
        <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Nav</button>
        </p>
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
        </div>
        <div id="industrialwashers" class="row">
            <div class="col-md-12">
                <h2>Industrial Washers</h2>
                <p>
                    We are offering client a wide range of washers. We believe in outperforming established standards in order to give our customers the best.
                    The main objective of our organization is to supply quality products at competitive rates, timely delivery and best available services to our patrons.
                </p>
                <p>
                    We offer high quality washers to our customers. These washers are available in various specifications and customers can choose the one, which suits them the most for their particular application.
                    The washers are weather proof and water proof due to the high quality treatment process that they go under making them corrosion resistant and durable.
                </p>
            </div>
        </div><!--/row-->
        <br/>   
        <div class="row well">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div id="flatwashers" class="caption">
                        <h4>Flat Washer</h4>
                        <p>Short Description here</p>
                    </div>
                    <img class="img-responsive" src=" ~/Images/flat-washers-250x250.jpg" />
                </div>

            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div id="" class="caption">
                        <h4>Plain Washer</h4>
                        <p>Short Description here</p>
                    </div>
                    <img class=" img-responsive" src=" ~/Images/plain-washers-250x250.jpg" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Mid Steel Washer</h4>
                        <p>Short Description here</p>
                    </div>
                    <img class="img-responsive" src=" ~/Images/m-s-washers-250x250.jpg" />
                </div>
            </div>
        </div>

        @*<div id="flatwashers" class="col-md-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flat Washers</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail img-responsive" src=" ~/Images/flat-washers-250x250.jpg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="plainwashers" class="col-md-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plain Washers</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail img-responsive" src=" ~/Images/flat-washers-250x250.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p>
                                    We offer high quality washers to our customers. These washers are available in various specifications and customers can choose the one, which suits them the most for their particular application.
                                    The washers are weather proof and water proof due to the high quality treatment process that they go under making them corrosion resistant and durable.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

        <br/ > 
        <div class="row">
            <div class="col-md-12">
                <h2>Mild steel Washers</h2>
                <p>
                    Our range of products include Mild Steel Products such as Mild Steel Plates, M.S. Circles, M.S. Plates and M.S. Sheet Components.
                </p>
            </div>
        </div><!--/row-->
        <br />
        <div id="mildsteelplates" class="row thumbdesc">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Mild Steel Plate</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src=" ~/Images/mild-steel-plate-250x250.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p class="text-left">
                                    With long years of experience in the industry, we are able to manufacture, supply, import, export and wholesale excellent range of Mild Steel Plate.
                                    These mild steel plates are used as part of various industrial products such as those in fabrication of automotive, electronic appliances and many others.
                                    Our mild steel plates are very durable, supreme strength and excellent consistency for reliable fabrication.
                                    These mild steel plates are available to our clients in various diameters depending on clients specifications at economical prices.
                                </p>
                                <p class="text-left" tabindex="2">
                                    <strong>Features:</strong>
                                    <ul class="text-left">
                                        <li>Excellent quality</li>
                                        <li>Long lasting</li>
                                        <li>Sturdy</li>
                                        <li>Very economical</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="mscircles" class="row thumbdesc">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">M.S. Circles</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src=" ~/Images/m-s-circle-250x250.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p class="text-left">
                                    Our organization is amongst the highly trusted manufacturer, supplier, importer, exporter and wholesaler of premium quality M.S. Circles.
                                    These M.S. circles are highly demanded by our clienteles as durable, corrosion resistant and easy to use structure for various industrial applications.
                                    Our M.S. circles are made from high quality mild steel raw materials with excellent dimensional accuracy fabricated using modern machineries.
                                    We are offering these M.S. circles to our clients at very reasonable range of prices.
                                </p>
                                <p class="text-left" tabindex="2">
                                    <strong>Features:</strong>
                                    <ul class="text-left">
                                        <li>Premium grade</li>
                                        <li>Very durable</li>
                                        <li>Rust proof</li>
                                        <li>Long lasting</li>
                                    </ul>
                                </p>
                            </div>
                        </div>      
                    </div>
                </div>

                
            </div>
        </div>
        <br />  
        <div id="msplates" class="row thumbdesc">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">M.S. Plates</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src=" ~/Images/mild-steel-250x250.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p class="text-left">
                                    We are engaged in manufacturing presses for cutting and the upstroke applications.
                                    High grade quality of raw material is used in the production of our gamut which is procured from genuine vendors.
                                    This press consists of pre pressing station and second final pressing station.
                                    The second final pressing station helps in unwinding from the roll and position the wrapping sheet transversely to the direction of the feed of the material along a transfer path from the first station.
                                </p>
                            </div>
                        </div>         
                    </div>
                </div>
               
            </div>
        </div>
        <br />
        <div id="mssheetcomponents" class="row thumbdesc">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">M.S. Sheet Components</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src=" ~/Images/m-s-sheet-components-250x250.jpg" />
                            </div>
                            <div class="col-md-8">
                                <p class="text-left">
                                    The comprehensive range of sheet metal components are widely acknowledged in the automobile market for precise dimensions and fine quality.
                                    Our sheet metal components find extensive application in motorcycles, scooters, trucks and other such vehicles.
                                    Sheet metal components are manufactured using latest technology and finest quality steel & aluminum in conformation to international quality standards.
                                </p>
                            </div>
                        </div>         
                    </div>
                </div>
               
            </div>
        </div>


    </div><!--/span-->


</div><!--/row-->

<div class="row">
    <div class="col-md-12" >                 
        <a href="#" class="scrollup"></a>                
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle=offcanvas]').click(function () {
            $('.row-offcanvas').toggleClass('active');
        });
    });
</script>

<script>
    $(document).ready(function () {
        //$("[rel='tooltip']").tooltip();

        $('.thumbnail').hover(
            function () {
                $(this).find('.caption').slideDown(250); //.fadeIn(250)
            },
            function () {
                $(this).find('.caption').slideUp(250); //.fadeOut(205)
            }
        );
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){

        $(window).scroll(function(){
            if ($(this).scrollTop() > 50) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });
</script>
<script>
    $(document).ready(function () {
        $('a[href*=#]').each(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            && location.hostname == this.hostname
            && this.hash.replace(/#/, '')) {
                var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) + ']');
                var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
                if ($target) {
                    var targetOffset = $target.offset().top - 50;
                    $(this).click(function () {
                        $('html, body').animate({ scrollTop: targetOffset }, 400);
                        return false;
                    });
                }
            }
        });
    });
</script>