@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <h2>Who We are ?</h2>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p>
            Established in the year 1975, Bharat Engineering Works, is one of the foremost manufacturers, suppliers and exporters of Iron & Steel Products.
            In a span of 25 years, we have been able to win-over the trust of our esteemed clientele through our constant efforts.
            In the near future, we plan to adopt latest management techniques to offer our clients an enhanced product range.
        </p>
        <p>
            We make optimum utilization of our robust infrastructure to manufacture a world-class range of products.
            Our manufacturing unit is well equipped with latest machines, which helps us in performing large scale production and delivering a world-class range of products.
            Prior to its wear and tear, we upgrade these machines with latest technology, so as to make sure that the production process is not interrupted.

        </p>
        <p>
            Under the mentorship of Mr. Bharat Shah, we have gained immense domain knowledge. His exclusive training sessions and strong business principles have guided us in all the ventures that we have undertaken.
        </p>
        <p>
            These machines have, for many years, held a high reputation among various engineering works all over the world.
            They are built on sturdy and straight forward lines and are quite self contained. They are of exceptionally robust construction, are specially designed for rapid cutting of metal scrap/plate and posses the stamina for continuous high speed duty.
            Many dozens of our machines are in use. Our machines have great demand in East Asia.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <h2>Who Us ?</h2>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p>
            We are one of the recognized manufacturers, suppliers and exporters of Engineering Machines. We aim at building strong image in the market through our quality products and services.
            Following factors are responsible for giving us an edge over our counterparts:
        </p>
        <p>
            <ul>
                <li>Superior quality of raw material</li>
                <li>Advance manufacturing unit</li>
                <li>Expert team</li>
                <li>Fully equipped R&D lab</li>
                <li>Less operational cost</li>
                <li>Higher productivity ratio</li>
                <li>Total client satisfaction</li>
                <li>Prompt Response</li>
                <li>On-time Delivery</li>
            </ul>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <h2>Our Team</h2>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p>
            We have employed a team of highly competent professionals, which is well acquainted with the goals and objectives of the organization.
            Henceforth, it directs all the efforts towards manufacturing machines, which match with the requirements of our client. Moreover, our engineers keep an eye on the changing market trends and accordingly design these products, so as they offer unmatched performance.
            Our quality inspectors make sure that each product is in accordance with industry standard norms.
            We offer our core team extensive training sessions to keep them aware about organizational changes and quality policies.
            Some of the key personnel of our organization are
        </p>
        <p>
            <ul>
                <li>Program engineers</li>
                <li>Design engineers</li>
                <li>Manufacturing engineers</li>
                <li>Quality inspectors</li>
                <li>R&D experts</li>                
            </ul>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>