
@{
    ViewBag.Title = "ContactConfirm";
}

<h2>Confirmation Page</h2>

<div class="row">
    <p class="alert alert-success" >
        Thank you for contacting us. We will contact you back with in 24 hrs.
    </p>
</div>