@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Welcome to Bharat Engineering Works</h2>
        <p>
            Since 1975, we have been able to successfully make a mark with our comprehensive range of products in engineering industry.
            Thick M.S. Plates, iron and other such durable material are used to fabricate these machines.
            We can even customize our range in terms of various specifications, as per client's specifications.
        </p>
        <p>
            Our relationship with our clients is not limited till the point of sales. We install the machines at client's end and offer technical assistance regarding its operations.
            We also give our clients installation and other technical guidance with regard to operation of these machines.
            Our core team makes sure that all these activities are duly performed, as per the scheduled time.
            Due to our ethical business policies, we have been able to garner huge clientele across the country.
        </p>
        <p><a class="btn btn-primary btn-large" href="~/Home/About">Read more &raquo;</a></p>
    </div>
    <div class="col-md-1"></div>
</div>
<br/  >
<div class="row">
    <div class="col-md-3">
        <h4><span class="glyphicon glyphicon-star"></span>&nbsp;Our Quality Assurance</h4>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Client Satisfaction</h4>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4><span class="fa fa-building-o"></span>&nbsp;Our Infrastructure</h4>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h4><span class="fa fa-flask"></span>&nbsp;Research & Development</h4>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>