@{
    ViewBag.Title = "Infrastructure";
}

<h2></h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Our Infrastructure</h3>
            </div>
            <div class="panel-body">
                <p>
                    The latest and modern infrastructure is well departmentalized to ensure smooth business operations.
                    We have developed one manufacturing units and an in-house design unit. These manufacturing departments are spread across an area of 1000 square feet.
                    Such large production capacity of 50 tons per month, has enabled us to manufacture machines in bulk at industry leading prices. To ensure the same,
                    we have fitted the following high performance machines and equipment:
                </p>
                <p>
                    <ul>
                        <li>Drilling machine</li>
                        <li>Power Press</li>
                        <li>Lathe machine</li>
                        <li>Grinding Machine</li>
                        <li>Shearing Machine</li>
                        <li>Welding Machine</li>
                    </ul>


                </p>
                <p>
                    Our quality controllers keep an eagle eye on the efficiency of these machines and replace them with the latest machines at regular intervals.
                    Our in-house design unit helps us in developing unique designs to enhance the production efficiency of these machines.
                </p>
            </div>
        </div>
    </div>
</div>
