@{
    ViewBag.Title = "Quality";
}

<h2></h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Our Quality Assurance</h3>
            </div>
            <div class="panel-body">
                <p>
                    Since our inception, our motto has remained in offering our clients an unmatched quality in our product line.
                    Right from the procurement stage till the dispatching stage, the entire range undergoes a strict vigil for the following parameters:
                </p>
                <p>
                    <ul>
                        <li>Corrosion resistance</li>
                        <li>Tensile strength</li>
                        <li>Hardness</li>
                        <li>Durability</li>
                        <li>Performance</li>
                    </ul>
                </p>
                <p>
                    Our adherence to these parameters enables us to detect the minutest error in our machines and find the solution for the same.
                    The products imported by us are thoroughly inspected by the manufacturers at their end too. Apart from this, as per our company policies, our product line is inspected by third party as well.
                    This has enhanced our credibility in the market, and gained us the trust of our clientele.
                </p>
            </div>
        </div>
    </div>
</div>
